<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>姓名案例_watch实现</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <!-- 
    computed 和 watch 之间的区别
      1. computed 能完成的功能，watch都可以完成
      2. watch 能完成的功能，computed不一定能完成，例如：watch可以进行异步操作
    备注：
      1. 所被 Vue 管理的函数，最好写成普通函数，这样 this 的指向才是 vm 或 组件实例对象
      2. 所有不被 Vue 所管理的函数（定时器的回调函数、Ajax 的回调函数等），最好写成箭头函数，这样 this 的指向才是 vm 或组件实例对象
   -->

  <div id="root">
    姓：<input type="text" v-model="firstName" /> <br><br>
    名：<input type="text" v-model="lastName" /> <br><br>
    全名：<span>{{ fullName }}</span>
  </div>

  <script>
    Vue.config.productionTip = false;

    const vm = new Vue({
      el: '#root',
      data: {
        firstName: '张',
        lastName: '三',
        fullName: '张-三'
      },
      watch: {
        firstName(val) {
          return this.fullName = val + '-' + this.lastName;
        },
        lastName(val) {
          return this.fullName = this.firstName + '-' + val;
        }
      }
    })

  </script>
</body>
</html>