<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>基本列表</title>
  <script src="../js/vue.js"></script>
</head>
<body>
  <div id="root">
    <h2>人员列表</h2>
    <input type="text" placeholder="请输入名字" v-model="keyWord">
    <ul>
      <li v-for="person, index in filPersons" :key="person.id">
        {{ person.name }} -- {{ person.age }} -- {{ person.sex }}
      </li>
    </ul>
  </div>

  <script>
    Vue.config.productionTip = false;

    // 用 watch 实现
   /*  new Vue({
      el: '#root',
      data: {
        keyWord: '',
        persons: [
          {id: '001', name: '马冬梅', age: '18', sex: '女' },
          {id: '002', name: '周冬雨', age: '19', sex: '女' },
          {id: '003', name: '周杰伦', age: '20', sex: '男' },
          {id: '004', name: '温兆伦', age: '21', sex: '男' },
        ],
        filPerson: [],
      },
      watch: {
        keyWord: {
          immediate: true,
          handler(val) {
            this.filPerson = this.persons.filter((person) => {
              return person.name.indexOf(val) !== -1;
            })
          }
        }
      }
    }) */

    // 用 computed 实现
    new Vue({
      el: '#root',
      data: {
        keyWord: '',
        persons: [
          {id: '001', name: '马冬梅', age: '18', sex: '女' },
          {id: '002', name: '周冬雨', age: '19', sex: '女' },
          {id: '003', name: '周杰伦', age: '20', sex: '男' },
          {id: '004', name: '温兆伦', age: '21', sex: '男' },
        ],
      },
      computed: {
        filPersons() {
          return this.persons.filter((person) => {
            return person.name.indexOf(this.keyWord) !== -1;
          })
        }
      }
    })

  </script>
</body>
</html>